.Footer-containe {
  position: relative;
}

.Footer-containe > hr {
  border: 1px solid var(--lightgray);
}

.footer {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  justify-content: center;
  height: 9rem;
}
.social-links {
  display: flex;
  gap: 4rem;
}

.social-links > img {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.logo-f > img {
  width: 10rem;
  height: 5rem;
}

.blur1-f {
  margin-top: 100;
  width: 26rem;
  right: 15%;
  bottom: 0.5rem;
  height: 3rem;
  filter: blur(200px);
  background: red;
}

.blur2-f {
  width: 26rem;
  left: 15%;
  bottom: 0.5rem;
  height: 3rem;
  filter: blur(200px);
  background: rgb(255, 115, 0);
}

.moin {
  display: flex;
  flex-direction: column;
  margin-right: 90%;
  text-align: left;
  color: white;
  font-size: small;
  padding: 0 0.5rem;
}
